@charset "UTF-8";

body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
   /*background: linear-gradient(to bottom, #e1b382, #2d545e);*/
    background-image: url("/images/music2.jpg");
    background-repeat: no-repeat;
  	background-size: 1540px 800px;
    font-family: Candara;
}

.container {
    width: 90%;
	margin: 0 auto;
	text-align: center;
	background-color: #12343b;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	color: #c89666;
}

button {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    display: inline-block;
    border: none;
    cursor: pointer;
    margin: 5px;
    font-size: 16px;
    transition: background-color 0.3s;
    border-radius: 5px;
}

button:hover {
    background-color: #555;
}

p{
	font-weight: bold;
	font-family: Candara;
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
	background-color: #333;
	
}

.nav-link {
	color: white;
}

.navbar-brand{
	color: white;
	margin-left: 20px;
	font-family: Candara;
	font-weight: bold;
}
	